#title{
    background-color: #ff0000 !important; 
    color: #fff;
    font-size: 1.25rem;
}
.container-fluid{
    padding-top: 3% !important; 
    padding-bottom: 3% !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
}
.nav-link{
    color: #fff !important;
}
.nav-link:hover{
    color: #fff !important;
}
.navbar-brand{
    color: #fff !important;
    font-size: 1.75rem;
}
h1{
    font-family: Open Sans;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
.title-image{
    width: 80%;
    rotate: 25;
    padding-left: 15%;
}
.nav-item{
    padding-top: 0;
    padding-left: 18px;
    padding-right: 18px;
}
.download-button{
    margin-top: 5%;
    margin-right: 3%;
    margin-bottom: 5%;
    margin-left: 0;
}
.navbar{
    padding-bottom: 4.5rem;
}
#reviews{
    text-align: center;
    font-family: Open sans;
}
.carouselImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#menu{
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    font-family: Open sans;
}
.pizzaImage{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 50%;
    height: auto;
    max-width: 100%;
}
.toppingHeader{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}
.toppingImages{
    height: 150px;
    width: 150px;
}
#orders{
    text-align: center;
    font-family: Open sans;
}
h3{
    font-family: Open sans;
    font-weight: bold;
    color: #808080;
}
.iconStyle{
    color: #ff0000;
}
#footer{
    background-color: #ff0000;
    color: #fff;
    font-family: Open Sans;
    text-align: center;
    font-size: 1.25rem;
}